// -------------------------------------------------------
// ALBUM PREVIEW SECTION 
// -------------------------------------------------------

.container-1 {
    position: relative;
    //overflow: hidden;
    width: 100%;
    height: 100vh;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
/* SLIDE 1
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

// Content Album Preview 1 | Music Preview ------------------------------------------------------
.content-ap-1 {

    // CSS Grid
    grid-row: 1 / 8;
    grid-column: 1 / 12;

    display: grid;
    grid-template-rows: repeat(8, 8vw);
    grid-template-columns: repeat(12, 1fr);

    background-image: url(../images/bk-2-bw.png);
    background-position: center;
    background-size: cover;

    &__icon-right {
        color: $color-white;
        font-size: 6rem;
        cursor: pointer;

        // CSS Grid
        grid-row: 4 / 5;
        grid-column: 12 / 13;
        align-self: center;
        justify-self: center;
    }

    &__icon-left {
        color: $color-white;
        font-size: 6rem;
        cursor: pointer;

        // CSS Grid
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        align-self: center;
        justify-self: center;
    }
}

.music-preview-tab {
    @include musicPreviewTab;
}

.music-tab-1 {
    @include musicTab-1;
}

.music-tab-2 {
    @include musicTab-2;
}

.music-tab-3 {
    @include musicTab-3;
}

// Music Title | Name
.mt-name {
    font-size: 1.7rem;

    // * --- MEDIA QUERIES --- * \\
    @media only screen and (max-width: $bp-desktop) {
        font-size: 1.4rem;
    }
}

// Content Album Previw 2 | ABOUT ----------------------------------------------------------------------------------
.content-ap-2 {
    // CSS Grid
    grid-row: 1 / 8;
    grid-column: 1 / 12;

    display: grid;
    grid-template-rows: repeat(8, 8vw);
    grid-template-columns: repeat(12, 1fr);
}

// About Album Tab 
.about-album-tab {
    @include albumAboutTab;
}

// Content Album Preview 3 | Buy Album -----------------------------------------------------------------------------------
.content-ap-3 {

    // CSS Grid
    grid-row: 1 / 8;
    grid-column: 1 / 12;

    display: grid;
    grid-template-rows: repeat(12, 5vw);
    grid-template-columns: repeat(12, 1fr);
}

.buy-album-tab {
    @include albumBuyTab;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
/* SLIDE 2
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

// Content Album Preview 2 | Music Preview ------------------------------------------------------
.content-ap-4 {

    // CSS Grid
    grid-row: 1 / -1;
    grid-column: 1 / -1;

    display: grid;
    grid-template-rows: repeat(8, 8vw);
    grid-template-columns: repeat(12, 1fr);

    background-image: url(../images/bk-4-bw.png);
    background-position: center;
    background-size: cover;

    &__icon-right {
        color: $color-white;
        font-size: 6rem;
        cursor: pointer;

        // CSS Grid
        grid-row: 4 / 5;
        grid-column: 12 / 13;
        align-self: center;
        justify-self: center;
    }

    &__icon-left {
        color: $color-white;
        font-size: 6rem;
        cursor: pointer;

        // CSS Grid
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        align-self: center;
        justify-self: center;
    }
}

.music-preview-tab-2 {
    @include musicPreviewTab;
}

.music-tab-4 {
    @include musicTab-1;
}

.music-tab-5 {
    @include musicTab-2;
}

.music-tab-6 {
    @include musicTab-3;
}

// Content Album Previw 2 | ABOUT ----------------------------------------------------------------------------------
.content-ap-5 {

    // CSS Grid
    grid-row: 1 / 8;
    grid-column: 1 / 12;

    display: grid;
    grid-template-rows: repeat(8, 8vw);
    grid-template-columns: repeat(12, 1fr);
}

// About Album Tab 
.about-album-tab-2 {
    @include albumAboutTab;
}

// Content Album Preview 3 | Buy Album -----------------------------------------------------------------------------------
.content-ap-6 {

    // CSS Grid
    grid-row: 1 / 8;
    grid-column: 1 / 12;

    display: grid;
    grid-template-rows: repeat(12, 5vw);
    grid-template-columns: repeat(12, 1fr);
}

.buy-album-tab-2 {
    @include albumBuyTab;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
/* SLIDE 3
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

.content-ap-7 {

    // CSS Grid
    grid-row: 1 / -1;
    grid-column: 1 / -1;

    display: grid;
    grid-template-rows: repeat(8, 8vw);
    grid-template-columns: repeat(12, 1fr);

    background-image: url(../images/bk-5-bw.png);
    background-position: center;
    background-size: cover;

    &__icon-right {
        color: $color-white;
        font-size: 6rem;
        cursor: pointer;

        // CSS Grid
        grid-row: 4 / 5;
        grid-column: 12 / 13;
        align-self: center;
        justify-self: center;
    }

    &__icon-left {
        color: $color-white;
        font-size: 6rem;
        cursor: pointer;

        // CSS Grid
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        align-self: center;
        justify-self: center;
    }
}

.music-preview-tab-3 {
    @include musicPreviewTab;
}

.music-tab-7 {
    @include musicTab-1;
}

.music-tab-8 {
    @include musicTab-2;
}

.music-tab-9 {
    @include musicTab-3;
}

// Content Album Previw 2 | ABOUT ----------------------------------------------------------------------------------
.content-ap-8 {

    // CSS Grid
    grid-row: 1 / 8;
    grid-column: 1 / 12;

    display: grid;
    grid-template-rows: repeat(8, 8vw);
    grid-template-columns: repeat(12, 1fr);
}

// About Album Tab 
.about-album-tab-3 {
    @include albumAboutTab;
}

// Content Album Preview 3 | Buy Album -----------------------------------------------------------------------------------
.content-ap-9 {

    // CSS Grid
    grid-row: 1 / 8;
    grid-column: 1 / 12;

    display: grid;
    grid-template-rows: repeat(12, 5vw);
    grid-template-columns: repeat(12, 1fr);
}

.buy-album-tab-3 {
    @include albumBuyTab;
}

// Section Album Preview General Minor Stuff -------------------------------------------------------------------------------

// Album Preview Name
.ap-name {

    height: 35rem;

    // CSS Grid 
    grid-row: 1 / 3;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
}

.two-i {
    color: $color-white;
    font-size: 10rem;
    cursor: pointer;
}

// Spotify Link
.special-s {

    //color: #1db954;
    color: $color-primary;
    text-decoration: none;
    transition: all .2s;

    &:hover {
        transform: scale(2);
    }
}