/* ------------------------------------------- */
/* MUSIC PREVIEW
/* ------------------------------------------- */
/*
.section-mp {

    // CSS Grid
    display: grid;
    grid-template-rows: repeat(6, 8vw);
    grid-template-columns: repeat(12, 1fr);

    position: relative;
}

// THIS IS THE BACKGROUND
.previewer-bk {
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;

    &__black-layer {
        height: 100vh;
        width: 100%;
        background-color: $color-black;
        position: absolute;
        z-index: 1;
    }

    &__img {
        height: 120vh;
        width: 105%;
        -webkit-filter: blur(.6rem);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
    }
}


// Previewer 1 ------
.previewer {
    background-color: $color-black;
    border-radius: 1.5rem;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 6rem;
    box-shadow: 0 1rem 2rem rgba($color-black, .80);

    // CSS Grid Setup
    grid-row: 2 / 5;
    grid-column: 3 / 5;
    
    // * --- MEDIA QUERIES --- * \\
    @media only screen and (max-width: $bp-desktop) {
        grid-row: 2 / 6;
        grid-column: 3 / 5;
    }
    
}

.image {

    &__img {
        height: 18rem;
        width: 100%;
        margin-top: -.5rem;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
    }
}

.player {
    padding: 2.5rem;
    color: #333;
    position: relative;

    &__song-title {
        font-family: 'Josefin Sans';
        font-size: 1.8rem;
        text-align: center;
        color: $color-white;
    }
}


.buttons {
    height: 5rem;
    width: 100%;
    margin-top: 5rem;
    position: relative;
    top: 20%;
    left: 75%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 3rem;
    color: $color-white;

    &__prev {
        position: absolute;
        left: -10%;
    }
    
    &__play {
        border: 0;
        color: $color-white;
        border-radius: 50%;
        outline: none;
        position: absolute;
        top: 1%;
        left: 20%;
        fill: $color-white;
    }

    &__next {
        position: absolute;
        left: 45%;
    }
}

.seek-bar {
    width: 16rem;
    height: .5rem;
    background-color: $color-white;
    display: flex;
    border-radius: 5rem;
    margin-left: 2.5rem;
    cursor: pointer;

    // * --- MEDIA QUERIES --- * \\
    @media only screen and (max-width: $bp-desktop) {
        width: 13rem;
    }
}

.fill {
    height: .5rem;
    width: 1rem;
    background-color: $color-primary;
    border-radius: 2rem;
}

.handle {
    width: .8rem;
    height: .8rem;
    background-color: $color-primary;
    border-radius: 50%;
    margin-left: -.5rem;
    transform: scale(2.1);
}

.current-time {
    color: $color-white;
    font-family: 'Josefin Sans';
    position: absolute;
    top: 110%;
    left: 35%;
}

// Previewer 2 ------
.previewer-2 {
    background-color: $color-black;
    border-radius: 1.5rem;
    z-index: 999;

    // CSS Grid Setup
    grid-row: 2 / 5;
    grid-column: 6 / 8;

    // * --- MEDIA QUERIES --- * \\
    @media only screen and (max-width: $bp-desktop) {
        grid-row: 2 / 6;
        grid-column: 6 / 8;
    }
}

// Previewer 3 ------
.previewer-3 {
    background-color: $color-black;
    border-radius: 1.5rem;
    z-index: 999;

    // CSS Grid Setup
    grid-row: 2 / 5;
    grid-column: 9 / 11;

    // * --- MEDIA QUERIES --- * \\
    @media only screen and (max-width: $bp-desktop) {
        grid-row: 2 / 6;
        grid-column: 9 / 11;
    }
}
*/

// -------------------------------------------------------
// ALBUM PREVIEW SECTION 
// -------------------------------------------------------

.container-1 {
    position: relative;
    overflow: hidden;
    width: 100%;
}

// Slide-1 -----------------------------------------------

// Content Album Preview 1
.content-ap-1 {

    // CSS Grid
    grid-row: 1 / 8;
    grid-column: 1 / 12;

    display: grid;
    grid-template-rows: repeat(8, 8vw);
    grid-template-columns: repeat(12, 1fr);

    background-image: url(../images/bk-2-bw.png);
    background-position: center;
    background-size: cover;
}

// Content Album Previw 2
.content-ap-2 {

    // CSS Grid
    grid-row: 1 / 8;
    grid-column: 1 / 12;

    display: grid;
    grid-template-rows: repeat(8, 8vw);
    grid-template-columns: repeat(12, 1fr);
}

.music-preview-tab {

    background-color: rgba($color-black, .90);
    border: $color-primary solid .1rem;

    // CSS Grid
    grid-row: 3 / 7;
    grid-column: 2 / 5;

    display: grid;
    grid-template-rows: repeat(26, 1fr);
    grid-template-columns: repeat(16, 1fr);

    // * --- MEDIA QUERIES --- * \\
    @media only screen and (max-width: $bp-desktop) {

        // CSS Grid
        grid-row: 3 / 8;
    }

    &__image {

        // CSS Grid
        grid-row: 5 / 6;
        grid-column: 1 / -1;
        justify-self: center;
    }

    &__button {

        text-align: center;
        letter-spacing: .1rem;

        // CSS Grid 
        grid-row: 21 / 22;
        grid-column: 1 / -1;
        justify-self: center;
    }

    &__el-1 {

        padding-left: 5.5rem;
        transition: all .2s;

        // CSS Grid
        grid-row: 9 / 10;
        grid-column: 2 / 16;

        &:hover {
            transform: scale(1.1);
        }
    }


    &__el-2 {

        padding-left: 5.5rem;
        transition: all .2s;

        // CSS Grid
        grid-row: 12 / 13;
        grid-column: 2 / 16;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__el-3 {

        padding-left: 5.5rem;
        transition: all .2s;

        // CSS Grid
        grid-row: 15 / 16;
        grid-column: 2 / 16;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.music-tab-1 {

    position: relative;
    color: rgba($color-white, .80);
    //background-color: rgba($color-grey-dark-2, .10);
    background-color: $color-el;

    &__icon {
        position: absolute;
        top: 2%;
        left: 6%;
        font-size: 2.6rem;
        cursor: pointer;
    }
}

.music-tab-2 {

    position: relative;
    color: rgba($color-white, .80);
    background-color: rgba($color-grey-dark-2, .10);

    &__icon {
        position: absolute;
        top: 2%;
        left: 6%;
        font-size: 2.6rem;
        cursor: pointer;
    }
}

.music-tab-3 {

    position: relative;
    color: rgba($color-white, .80);
    background-color: rgba($color-grey-dark-2, .10);

    &__icon {
        position: absolute;
        top: 2%;
        left: 6%;
        font-size: 2.6rem;
        cursor: pointer;
    }
}

.mt-name {
    font-size: 1.7rem;

    // * --- MEDIA QUERIES --- * \\
    @media only screen and (max-width: $bp-desktop) {
        font-size: 1.4rem;
    }
}

// About Album Tab 
.about-album-tab {

    color: rgba($color-white, .80);
    background-color: rgba($color-black, .90);
    padding: 1rem 2rem 0 2rem;

    // CSS Grid
    grid-row: 3 / 7;
    grid-column: 5 / 10;

    // * --- MEDIA QUERIES --- * \\
    @media only screen and (max-width: $bp-desktop) {
        grid-row: 3 / 8;
    }

    &__heading {
        font-size: 3rem;

        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-desktop) {
            font-size: 2.5rem;
        }
    }

    &__paragraph {
        font-size: 2rem;

        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-desktop) {
            font-size: 1.9rem;
        }
    }
}

// Spotify Link
.special-s {

    //color: #1db954;
    color: $color-primary;
    text-decoration: none;
    transition: all .2s;

    &:hover {
        transform: scale(2);
    }
}

// Album Preview Name
.ap-name {

    height: 35rem;

    // CSS Grid 
    grid-row: 1 / 3;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
}