/* ------------------------------------------- */
/* ANIMATIONS
/* ------------------------------------------- */

// --- PRE-LOADER ANIMATIONS --- \\

@keyframes bounce {

    0% { transform: translate(0, -50%) scale(1, .8); }
    30% { transform: translate(0, -250%) scale(.8, 1); }
    60% { transform: translate(0, -300%) scale(1, .8); }
    85% { transform: translate(0, -50%) scale(1, .8); }
    88% { transform: translate(0, -50%) scale(1, .8); }
    95% { transform: translate(0, -50%) scale(1, .8); }
    100% { transform: translate(0, -50%) scale(1, .8); }
}

@keyframes bounceShadow {

    0% { transform: scale(1, 0.25); }
    30% { transform: scale(1.5, 0.25); }
    60% { transform: scale(2, 0.25); }
    85% { transform: scale(1, 0.25); }
    90% { transform: scale(1, 0.25); }
    100% { transform: scale(1, 0.25); }

}

// --- TEXT REVEAL ANIMATIONS --- \\

@keyframes rev-block {

    0% {
        left: 0;
        width: 0%;
    }

    50% {
        left: 0;
        width: 50%;
    }

    100% {
        left: 50%;
        width: 0%;
    }
}

// rev-block-2 class for block element number 2
@keyframes rev-block-2 {

    0% {
        left: 47%;
        width: 0%;
    }

    50% {
        left: 47%;
        width: 28%;
    }

    100% {
        left: 75%;
        width: 0%;
    }
}

// rev-block-3 class for block element number 3
@keyframes rev-block-3 {

    0% {
        left: 60%;
        width: 0%;
    }

    50% {
        left: 60%;
        width: 40%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
}

@keyframes appear-text {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// * --- MEDIA QUERIES | FOR KEYFRAMES --- * \\

// For Tablets | From 800px 
@media only screen and (max-width: 50em) {
    @keyframes rev-block {

        0% {
            left: 0;
            width: 0%;
        }

        50% {
            left: 0;
            width: 65%;
        }

        100% {
            left: 65%;
            width: 0%;
        }

    }
}

// Media Query for Firefox ONLY | From 800px \\
@media all and (min--moz-device-pixel-ratio:0) and (max-width: 50em) {
    @keyframes rev-block {

        0% {
            left: 0;
            width: 0%;
        }

        50% {
            left: 0;
            width: 65%;
        }

        100% {
            left: 65%;
            width: 0%;
        }
    }
}

// --- SLIDESHOW EFFECT | ANIMATION --- \\

@keyframes animate {

    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -200%;
    }

    95% {
        left: 0;
    }

    100% {
        left: 0;
    }

}