/* ------------------------------------------- */
/* 7-1 TYPE FOLDER / FILES IMPLEMENTATION
/* ------------------------------------------- */
/* --- ABSTRACTS --- */
/* ------------------------------------------- */
/* ANIMATIONS
/* ------------------------------------------- */
@keyframes bounce {
  0% {
    transform: translate(0, -50%) scale(1, 0.8); }
  30% {
    transform: translate(0, -250%) scale(0.8, 1); }
  60% {
    transform: translate(0, -300%) scale(1, 0.8); }
  85% {
    transform: translate(0, -50%) scale(1, 0.8); }
  88% {
    transform: translate(0, -50%) scale(1, 0.8); }
  95% {
    transform: translate(0, -50%) scale(1, 0.8); }
  100% {
    transform: translate(0, -50%) scale(1, 0.8); } }

@keyframes bounceShadow {
  0% {
    transform: scale(1, 0.25); }
  30% {
    transform: scale(1.5, 0.25); }
  60% {
    transform: scale(2, 0.25); }
  85% {
    transform: scale(1, 0.25); }
  90% {
    transform: scale(1, 0.25); }
  100% {
    transform: scale(1, 0.25); } }

/* ------------------------------------------- */
/* COLOR VARIABLES
/* ------------------------------------------- */
/* GREY SHADES */
/* B & W */
/* COLORS FOR SECTIONS BACKGROUNDS */
/* ------------------------------------------- */
/* GRID VARIABLES
/* ------------------------------------------- */
/* ------------------------------------------- */
/* FONT
/* ------------------------------------------- */
/* ------------------------------------------- */
/* CLAERFIX MIXIN FOR THE GRID
/* ------------------------------------------- */
/* ------------------------------------------- */
/* MIXIN THAT CENTERS THE ELEMENTS TO VH
/* ------------------------------------------- */
/* ------------------------------------------- */
/* CENTERS THE BUTTONS
/* ------------------------------------------- */
/* ------------------------------------------- */
/* MEDIA QUERIES | SHORTCUT VERSION
/* ------------------------------------------- */
/* ------------------------------------------- */
/* MEDIA QUERY MANAGER
/* ------------------------------------------- */
/* // SIZES / DEVICES \\
    0 - 600px > Phone
    600 - 900px > Tablet Portrait
    900 - 1200px > Tablet Landscape
    [1200 - 18009 is where our normal style apply
    1800px + >Big Desktop

    1em = 16px - KIM
*/
/* // BREAKPOINT NAMES \\
    $breakpoint argument choices:
    - phone
    - tab-port
    - tab-land
    - big-desktop
*/
/* --- BASE --- */
/* ------------------------------------------- */
/* BASIC SETUP
/* ------------------------------------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  /* DEFINES WHAT REM IS */
  font-size: 62.5%;
  /* Takes 62.5% of the default font size (16px). 100 / 16 = 62.5  */
  /* || 1rem = 10px; 10px/16px = 62.5% || */ }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

@media (max-width: 56.25em) {
  body {
    padding: 0; } }

/* .container {
        display: grid;
        grid-template-rows: 80vh min-content 40vw repeat(3, min-content);               
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];   
        // CONTENT WILL BE DISPLAYED (RESPONSIVE) BETWEEN ITS MINIMUM CONTENT AND 1400px 
        // TWO 1fr's ARE THE EMPTY COLUMNS THAT CENTERS REST OF THE PAGES CONTENT
        // SIDEBAR-START | SIDEBAR-END is the sidebar option
        // FULL-START | FULL-END is the content that goes from the begining of the VW to the end of the VW
        // CENTER-START | CENTER-END is the content that is centered for the VW

        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-largest) {
            display: grid;
            grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);               
            grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];
        }

        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-medium) {    
            display: grid;
            grid-template-rows: 6rem calc(100vh - 6rem); // USE CALC TO "MERGE" NAVIGATION ON TOP AND HEADER INTO THE ONE SECTION
        }
    } */
/* ---------------------------------------------------------- */
/* U-CENTER-TEXT CLASS IN ABOUT SECTION | CENTERING THE TEXT
/* ---------------------------------------------------------- */
.ct {
  text-align: center !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-BOTTOM-SMALL CLASS IN ABOUT SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.-mb-s {
  margin-bottom: 1.5rem !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-BOTTOM-MEDIUM CLASS IN ABOUT SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.mb-m {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .mb-m {
      margin-bottom: 3rem !important; } }

/* ---------------------------------------------------------- */
/* U-MARGIN-BOTTOM-BIG CLASS IN ABOUT SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.mb-b {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .mb-b {
      margin-bottom: 5rem !important; } }

/* ---------------------------------------------------------- */
/* U-MARGIN-TOP-SMALL CLASS IN TOURS SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.mt-s {
  margin-top: 2rem !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-TOP-MEDIUM CLASS IN TOURS SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.mt-m {
  margin-top: 5rem !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-TOP-BIG CLASS IN TOURS SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.mt-b {
  margin-top: 8rem !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-TOP-HUGE CLASS IN TOURS SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.mt-h {
  margin-top: 10rem !important; }

/* ------------------------------------------- */
/* TYPOGRAPHY
/* ------------------------------------------- */
body {
  font-family: 'Josefin Sans', 'Arial', 'sans-serif';
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

/* ------------------------------------------- */
/* HEADING PRIMARY | TEXT / STYLE H1
/* ------------------------------------------- */
.heading-1 {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-1--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    /* -- ANIMATION IMPLEMENTATION -- */
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-1--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-1--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    /* -- ANIMATION IMPLEMENTATION -- */
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-1--sub {
        letter-spacing: .5rem; } }

/* ------------------------------------------- */
/* HEADING SECONDARY | TEXT / STYLE H2
/* ------------------------------------------- */
.heading-2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #9b6f39, #B28451);
  -webkit-background-clip: text;
  color: transparent;
  /*letter-spacing: .2rem;
    transition: all .2s; */
  /*
    &:hover {
        transform: skewY(2deg);
    } */ }
  @media (max-width: 56.25em) {
    .heading-2 {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-2 {
      font-size: 2.5rem; } }

/* --------------------------------------------- */
/* HEADING TERTIARY + PARAGRAPH| TEXT / STYLE H3/P
/* --------------------------------------------- */
.heading-3 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  @media (max-width: 37.5em) {
    .heading-3 {
      text-align: center; } }

.heading-4 {
  font-weight: 400;
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f7f7f7; }
  .heading-4--dark {
    color: #777; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/* --- COMPONENTS --- */
/* ------------------------------------------- */
/* BUTTONS
/* ------------------------------------------- */
.btn {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 1.4rem;
  font-family: 'Josefin Sans';
  text-decoration: none;
  margin: 4rem 0;
  border: 0.2rem solid #c69963;
  padding: 1.5rem 4.5rem;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  transition: all 1s ease; }

.btn::before {
  content: "";
  background: #c69963;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.6s ease;
  z-index: -1; }

.btn-full::before {
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(-45deg); }

.btn-full:hover::before {
  height: 450%; }

.btn-2 {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 1.4rem;
  font-family: 'Josefin Sans';
  text-decoration: none;
  margin: 4rem 0;
  border: 0.2rem solid #c69963;
  padding: 2.2rem 4.5rem;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  transition: all 1s ease; }

.btn-2::before {
  content: "";
  background: #c69963;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.6s ease;
  z-index: -1; }

.btn-full-2::before {
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(-45deg); }

.btn-full-2:hover::before {
  height: 450%; }

/* ------------------------------------------- */
/* PRE-LOADER 
/* ------------------------------------------- */
.loader__background {
  background-color: #292929;
  position: absolute;
  height: 100%;
  width: 100%; }

.loader__bounce {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  margin-top: 8rem;
  background: transparent;
  border-radius: 50%; }
  .loader__bounce:before {
    content: '';
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #c69963;
    border-radius: 50%;
    box-shadow: inset 0 -1rem rgba(0, 0, 0, 0.1);
    animation: bounce .75s infinite linear; }
  .loader__bounce:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: scale(1, 0.25);
    animation: bounceShadow .75s infinite linear; }

/* ------------------------------------------- */
/* SLIDER
/* ------------------------------------------- */
/* --- LAYOUT --- */
/* ------------------------------------------- */
/* HEADER
/* ------------------------------------------- */
.container-1 {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(8, 1fr); }

.side-img {
  grid-row: 1 / 1;
  grid-column: 6 / 9;
  background-image: url(../images/eminem-2-bw.png);
  background-position: 40% 2%;
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%; }

.header-1 {
  grid-row: 1 / 1;
  grid-column: 1 / 8;
  background-color: #292929;
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 80% 0, 95% 100%, 0% 100%);
  clip-path: polygon(0 0, 80% 0, 95% 100%, 0% 100%);
  height: 100vh;
  display: none; }
  .header-1__logo {
    height: 15rem;
    grid-row: 2 / 3;
    grid-column: 3 / 14;
    justify-self: center;
    align-self: center; }
  .header-1__heading {
    font-size: 3rem;
    letter-spacing: 2rem;
    grid-row: 3 / 4;
    grid-column: 5 / 12;
    align-self: flex-end;
    justify-self: center; }
  .header-1__button {
    text-align: center;
    grid-row: 4 / 5;
    grid-column: 6 / 8; }
  .header-1__button-2 {
    text-align: center;
    grid-row: 4 / 5;
    grid-column: 9 / 11; }

.wrapper {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(18, 1fr); }

/* --- PAGES --- */
